<div class="navbar navbar-default navbar-fixed-top navbar-inverse">

    <div class="navbar-header">

        <button type="button" class="btn btn-default navbar-btn" ng-click="goToHome()">
            <span class="glyphicon glyphicon-home"></span>
        </button>
        <button type="button" class="btn btn-default navbar-btn" ng-click="goToDemo()">
            <span class="glyphicon glyphicon-education"></span>
        </button>

    </div>

</div>

<div class="container">

    <p class="bodyCopy">This is a simple demo app based on:<br>
        <div class="col-md-6"><p class='bodyCopy'>1) Tinder<br> (swipe left/right)</p>
    <img src='static/assets/images/tinder-logo.png'></div>
    <div class="col-md-6">
        <p class="bodyCopy">2) Tensorflow<br> (calculate weights based on datapoints)<br></p>
        <img src='static/assets/images/tensorflow.png'>
    </div>
</div>
