<!doctype html>
<html ng-app="tinderflow">
<head>
    <title>TinderFlow!!!!</title>
    <script type='text/javascript' src='static/js/angular.js'></script>
    <script type='text/javascript' src='static/js/angular-resource.js'></script>
    <script type='text/javascript' src='static/js/angular-route.js'></script>
    <script type='text/javascript' src='static/js/ui-bootstrap.min.js'></script>
    <script type='text/javascript' src='static/js/tinderflow.js'></script>
    <link rel='stylesheet' type='text/css' href='static/stylesheets/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' href='static/stylesheets/custom.css'>
</head>

<body>
<div ng-view></div>
</body>

</html>
